<footer>

  <section class="data py-5 container ">
    <div class="row text-white">

      <div class="col-md-4 col-sm-12">
        <div class=" data-card">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive
            Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class=" data-card">

          <h3>AROUND THE WEB</h3>

          <ul class="list-unstyled d-flex social-media">
            <li>
              <i class="fa-brands fa-facebook-f fa-xl"></i>
            </li>
            <li>
              <i class="fa-brands fa-twitter fa-xl"></i>
            </li>
            <li>
              <i class="fa-brands fa-linkedin-in fa-xl"></i>
            </li>
            <li>
              <i class="fa-brands fa-dribbble fa-xl"></i>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class=" data-card">

          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Hadid</p>

        </div>
      </div>

    </div>
  </section>

  <section class="copyright d-flex justify-content-center align-items-center py-3 bg-dark">

    <p class="text-white-50 fs-6 p-0 m-0">Copyright © Your Website 2023</p>

  </section>

</footer>
