<section id="contact" class="pt-5 my-5 text-center">
  <div class="container mt-5 w-50">

    <div class="header mb-5">
      <h2>CONTACT ME</h2>
      <div class="under-headline d-flex justify-content-center align-items-center mt-3">

        <div class="custom-line me-3 "></div>
        <div class="divider-custom-icon">
          <i class="fa-solid fa-star fs-2 fa-bounce"></i> </div>
        <div class="custom-line ms-3"></div>

      </div>
    </div>

    <div class="contacts-input my-5">
      <form action="" class="form-group" novalidate="novalidate">

        <div class="form-input">
          <label for="name" class="label label-float ms-2">Name</label>
          <input type="text" id="name" placeholder="Name" class="form-control" required="required">
          <li class="mb-3 mt-0 text-danger ms-4">Please enter your name</li>
        </div>
        <div class="form-input">
          <label for="email" class="label label-float ms-2">Email Adress</label>
          <input type="email" id="email" placeholder="Email Adress" class="form-control" required="required">
          <li class="mb-3 mt-0 text-danger ms-4">Please enter your Email</li>
        </div>
        <div class="form-input">
          <label for="phone" class="label label-float ms-2">Phone Number</label>
          <input type="number" id="phone" placeholder="Phone Number" class="form-control" required="required">
          <li class="mb-3 mt-0 text-danger ms-4">Please enter your phone number</li>
        </div>
        <div class="form-input">
          <label for="message" class="label label-float ms-2">Message</label>
          <textarea id="message" cols="30" rows="5" placeholder="Message" class="form-control"
            required="required" style="height: auto;"></textarea>
          <li class="mb-3 mt-0 text-danger ms-4">Please enter a message</li>
        </div>
        <div class="w-100 text-start">
          <button class="btn btn-primary fs-5" type="submit">Send</button>
        </div>

      </form>



    </div>





  </div>
</section>
