<section id="portfolio" class="my-5 text-center ">
  <div class="container mt-5">

    <div class="header mb-5">

      <h2>PORTFOLIO</h2>

      <div class="under-headline d-flex justify-content-center align-items-center mt-3">

        <div class="custom-line me-3 "></div>
        <div class="divider-custom-icon">
          <i class="fa-solid fa-star fs-2 fa-bounce"></i> </div>
        <div class="custom-line ms-3"></div>

      </div>

    </div>


    <div class="row g-5">

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="assets/imgs/portfolio/cabin.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card position-relative">
          <img src="assets/imgs/portfolio/cake.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="assets/imgs/portfolio/circus.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="assets/imgs/portfolio/game.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="assets/imgs/portfolio/safe.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="assets/imgs/portfolio/submarine.png" alt="item">
          <div class="card-layer">
            <i class="fa-solid fa-plus fa-fade" style="color: #ffffff;"></i>
          </div>
        </div>
      </div>

    </div>


  </div>


 <div class="alert container-fluid position-fixed top-0 start-0 w-100 h-100">

      <div class="inner-alert p-5 my-3 rounded-3 container">

        <div class="x-mark">
          <i class="fa-solid fa-xmark fa-fade"></i>
      </div>

        <div class="header mb-5">

          <h2>SUBMARINE</h2>

          <div class="under-headline d-flex justify-content-center align-items-center">

            <div class="custom-line me-3 "></div>
            <div class="divider-custom-icon">
              <i class="fa-solid fa-star fs-2 fa-bounce"></i> </div>
            <div class="custom-line ms-3"></div>

          </div>

        </div>

        <figure class="w-75 m-auto">
          <img class="rounded-3" src="assets/imgs/portfolio/submarine.png" alt="item">

        <figcaption class="my-5">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe animi totam accusantium. Ab, quod provident
            natus ullam labore cum, odio nemo ipsa, itaque aliquid fugit odit. Nemo dolor non alias!</p>
        </figcaption>

        </figure>

        <button class="btn btn-primary p-2">
          <span>
            <i class="fa-solid fa-xmark fa-fade"></i>
          </span>
          Close Window
        </button>

      </div>


    </div>


</section>
