<section class="py-5 d-flex justify-content-center align-items-center" id="home">
  
  <div class="container text-white text-center pt-5 mt-5 mb-3">
    <figure>
      <img src="assets/imgs/home/avataaars.svg" alt="profile pic" class="profile-pic">
    </figure>

    <h1 class="m-0">START ANGULAR</h1>

    <div class="under-headline d-flex justify-content-center align-items-center my-3">

      <div class="custom-line bg-white me-3 "></div>
      <div class="divider-custom-icon">
        <i class="fa-solid fa-star fs-2 fa-bounce"></i> </div>
      <div class="custom-line bg-white ms-3"></div>

    </div>

    <h3 class="skills ">Graphic Artist - Web Designer - Illustrator</h3>

  </div>
</section>
